/*umumiy sozlamalar*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background-color: #454563;
}
.card {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
}
.card-title {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}
.card-description {
    color: #7430a1;
    font-size: 16px;
    line-height: 1.5;
}